.workexample-container {
  width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 0px 0px 60px 0px;
  border-bottom: 2px solid black;
}

.workexample {
  width: 330px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
  background-color: #DBDDD8;
}
.workexample img {
  object-fit: contain;
  width: 330px;
  height: 280px;
  overflow: hidden;
}
